@font-face {
    font-family: 'D-DIN';
    font-weight: normal;
    src: url('D-DIN.otf'); /* IE9 Compat Modes */
    src: url('D-DIN.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('D-DIN.woff2') format('woff2'), /* Super Modern Browsers */
    url('D-DIN.woff') format('woff'), /* Pretty Modern Browsers */
    url('D-DIN.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
    font-family: 'D-DIN';
    font-weight: bold;
    src: url('D-DIN-Bold.otf'); /* IE9 Compat Modes */
    src: url('D-DIN-Bold.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('D-DIN-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('D-DIN-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('D-DIN-Bold.ttf')  format('truetype') /* Safari, Android, iOS */
}