<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../web/css/main.css">
        <link rel="stylesheet" type="text/css" href="../web/css/fonts.css">
        <link rel="icon" href="../web/images/black-icon.png">
        <title>Fireroot Studios</title>
        <meta name="description" content="Fireroot Studios is a group of aspiring game developers who act on our ambition to create video games.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <nav>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="https://firerootstudios.com/#about">ABOUT</a></li>
            {# <li><a href="https://firerootstudios.com/#blog">NEWS</a></li> #}
            <li><a href="https://firerootstudios.com/#games">GAMES</a></li>
            <li><a href="https://firerootstudios.com/#social">COMMUNITY</a></li>
            {# <li><a href="https://firerootstudios.com/contact">CONTACT</a></li> #}
        </ul>
    </nav>
    <nav class="responsive">
        <input type="checkbox" id="menu">
            <span></span>
            <label for="menu"></label>
        <ul>
            <li><a href="https://firerootstudios.com/#about">ABOUT</a></li>
            {# <li><a href="https://firerootstudios.com/#blog">NEWS</a></li> #}
            <li><a href="https://firerootstudios.com/#games">GAMES</a></li>
            <li><a href="https://firerootstudios.com/#social">COMMUNITY</a></li>
            {# <li><a href="https://firerootstudios.com/contact">CONTACT</a></li> #}
        </ul>
    </nav>
    <header>
        {# <h1>News</h1> #}
        <main>
        <img src="../web/images/FireRoot-logo-final-text.png">
        <video autoplay loop="true" width="1280" height="720" muted>
            <source type="video/mp4" src="../web/images/bg.mp4">
        </video>
        </main>
    </header>
    {% block main %}

    {% endblock %}
    <footer id="contact">
        <main>
            <h1>Subscribe to our newsletter</h1>
                <form action="">
                    <div>
                        <label for="FirstName">First name</label>
                        <input type="text" name="FirstName" placeholder="Fire">
                    </div>
                    <div>
                        <label for="Surname">Last name</label>
                        <input type="text" name="Surname" placeholder="Root">
                    </div>
                    <div>
                        <label for="email">E-mail</label>
                        <input type="email" name="E-mail" placeholder="fireroot@studios.com">
                    </div>
                    <button>SUBSCRIBE</button>
                </form>
        </main>
    </footer>
    </body>
</html>