<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../web/css/main.css">
        <link rel="stylesheet" type="text/css" href="../web/css/fonts.css">
        <link rel="icon" href="../web/images/black-icon.png">
        <title>Fireroot Studios</title>
        <meta name="description" content="Fireroot Studios is a group of aspiring game developers who act on our ambition to create video games.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <nav>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#contact">CONTACT</a></li>
            <li><a href="#community">COMMUNITY</a></li>
            <li><a href="#games">GAMES</a></li>
            <li><a href="#about">ABOUT</a></li>
        </ul>
    </nav>
    <nav class="responsive">
        <input type="checkbox" id="menu">
            <span></span>
            <label for="menu"></label>
        <ul>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#games">GAMES</a></li>
            <li><a href="#community">COMMUNITY</a></li>
            <li><a href="#contact">CONTACT</a></li>
        </ul>
    </nav>
    <header>
        {# <h1>News</h1> #}
        <main>
        <img src="../web/images/FireRoot-logo-final-text.png">
        <video autoplay loop="true" width="1280" height="720" muted>
            <source type="video/mp4" src="../web/images/bg.mp4">
        </video>
        </main>
    </header>
    {% block main %}

    {% endblock %}
    
    {# Copyright #}
    {# {% set startYear = 2019 %} #}
    {% set currentYear = now.year %}
    {# {% set copyrightYears = startYear ~ ' - ' ~ currentYear %} #}

    <footer id="contact">
        <main>
            <img src="../web/images/FireRoot-logo-final-text.png">
            {# <p>&copy; {{ currentYear }} Fireroot Studios. All Rights Reserved</p> #}
        </main>
    </footer>
    </body>
</html>