{% extends '_layout' %}
{% block main %}
    <section class="contact" id="contact">
        <article>
            <h1>Thank you for contacting us.</h1>
            <h2>We will respond to you asap!</h2>
        </article>
    </section>
    <section class="social" id="social">
        <main>
            <h1>Follow Fireroot Studios</h1>
            <ul>
                <li><a target="_blank" href="https://twitter.com/FirerootStudios"></a></li>
                <li><a target="_blank" href="https://www.facebook.com/FirerootStudios/"></a></li>
                <li><a target="_blank" href="https://www.instagram.com/firerootstudios/"></a></li>
                <li><a target="_blank" href="https://www.youtube.com/channel/UCfRy5jzOlRIor3Tezdq71Bw"></a></li>
            </ul>
        </main>
    </section>
{% endblock %}